@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  background-color: theme('colors.night');
}

body {
  @apply bg-gradient-to-b from-night via-[#18294a] to-sand text-slate-100 font-body antialiased;
}

a {
  @apply font-medium text-ocean hover:text-primary transition-colors;
}